@using CasanovaExchange.ViewModel
@using CasanovaExchange.Models;
@model CommodityListingViewModel
@{
	Commodity commodity = Model.commodity;
}
<p>Bought @commodity.Name</p>
<p>Quantity @Model.Quantity</p>