@using CasanovaExchange.Models;
@model List<Commodity>
@{
	Layout = "_Layout";
}
<h4 class="display-4">All Commodities</h4>

<table class="table table-hover table-dark w-75">
	<thead>
		<tr>
			<th scope="col">Name</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var c in @Model)
		{
			<tr>
				<th scope="row">@c.Name</th>
			</tr>
		}
	</tbody>
</table>